body {
    margin: 0;
    color: #F8F8F2;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #22212C; 
}

body::-webkit-scrollbar-thumb {
  background-color: #454158;
}

.title {
    background-color: #22212C;
    min-height: 90vh;
    padding: 50px;
    text-align: left;
    font-optical-sizing: auto;
    font-style: normal;
}

.title h1 {
    font-size: 100px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 800;
    margin-top: 0px;
    text-indent: 70px;
    
}

.title p {
    font-size: 38px;
    font-family: "Yrsa", serif;
    text-indent: 70px;
    text-align: justify;
    margin-right: 550px;
}

.form_wrap {
    background-color: #F8F8F2;
    padding: 50px;
    text-align: left;
    display: flex;
}

.form_wrap h1 {
    font-size: 50px;
    font-family: "Oswald";
    color: #22212C;
    font-weight: 800;
    margin-right: auto;
}

.form_wrap form{
    color: #22212C;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

button, label {
    font-size: 40px;
    font-family: "Oswald";
    background-color: #22212C;
    border-radius: 5px;
    color: #F8F8F2;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
    margin: 10px 10px 10px 0px
}

input[type='file'], button {
    display: none
}

button {
    outline: none;
    border: none;
}

img {
    border-radius: 10px;
}

#headwrap {
    margin-right: auto;
}

#preview {
    margin-left: auto;
}

svg {
    position: absolute;
    right: 20px;
    top: 150px;
    width: 500px;
}